<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="KredxProject">
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="KredxFramework">
		<classes>
			<class name ="com.qa.datacreation.TESTSCRIPTS.DealCreationTS"/>
		</classes>
	</test>
</suite>